@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <h1 class="display-2">Agenti di polizia</h1>
    <br />
    <h2 class="display-4">Per la gestione dei verbali cliccare i link sull'header</h2>
</div>
