USE [DatabaseAgenti]
GO
/****** Object:  Table [dbo].[AGENTE]    Script Date: 01/03/2024 17:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENTE](
	[IDAgente] [int] IDENTITY(1,1) NOT NULL,
	[NomeAgente] [varchar](50) NOT NULL,
	[CognomeAgente] [varchar](50) NOT NULL,
	[DataAssunzione] [datetime] NULL,
 CONSTRAINT [PK_AGENTE] PRIMARY KEY CLUSTERED 
(
	[IDAgente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
