USE [DatabaseAgenti]
GO
/****** Object:  Table [dbo].[VERBALE]    Script Date: 01/03/2024 17:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERBALE](
	[IDVerbale] [int] IDENTITY(1,1) NOT NULL,
	[DataViolazione] [nvarchar](150) NULL,
	[IndirizzoViolazione] [varchar](255) NOT NULL,
	[IDAgente] [int] NOT NULL,
	[DataTrascrVerbale] [nvarchar](150) NULL,
	[Importo] [decimal](10, 2) NULL,
	[DecurtamentoPunti] [int] NULL,
 CONSTRAINT [PK_VERBALE] PRIMARY KEY CLUSTERED 
(
	[IDVerbale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VERBALE]  WITH CHECK ADD  CONSTRAINT [FK_VERBALE_AGENTE1] FOREIGN KEY([IDAgente])
REFERENCES [dbo].[AGENTE] ([IDAgente])
GO
ALTER TABLE [dbo].[VERBALE] CHECK CONSTRAINT [FK_VERBALE_AGENTE1]
GO
